<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1> Converted Word: <%= @convert_word.to_pig_latin(params[:words]) %> </h1>


  </body>
</html>
